@import '../../../assets/partials/colors';

.footerMain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 1em;
    color: $white;
    background-color: $dark-blue;
    p{
        font-size: 1.1em;
    }
    a{
        color: $white;
        margin-top: 1em;
    }
    .footerImg{
        margin-top: 3em;
        img{
            width: 100%;
        }
    }
    h4{
        font-size: 1.3em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }

    .footerForm{
        form{
            .checkbox{
                display: grid;
                grid-template-columns: 1fr 1fr;
                label{
                    font-size: 1.2em;
                }
                input[type=checkbox] {
                    accent-color: $light-blue;
                }
                
            }
            button{
                background-color: $light-blue;
                border: none;
                width: 100%;
                padding: 0.5em;
                color: $white;
                font-size: 1.1em;
            }
            input[type=text],
            input[type=email],
            input[type=number]{
                margin-bottom: 1em;
                display: block;
                width: 100%;
                padding: 0.5em;
                background-color: $light-blue;
                color: $white;
                border: none;
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    color: $white;
                    font-size: 1.2em;
                }
            }
        }
    }
}

