@import "../../../assets/partials/colors";

.headerMain {
    background-image: url(../../../images/Bg-Hero-Blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    img{
        max-width: 100%;
        height: auto;
    }
    .bottomRight{
        margin-top: 3em;
        p{
            text-align: right;
            color: $light-blue;
            font-size: 1.3em;
            font-style: italic;
            font-weight: lighter;
            margin-left: 65%;
            width: 33%;
            margin-top: 0.5em;
        }
    }
}

@media (max-width: 600px) {
    .headerMain {
        .bottomRight{
            position: relative;
            p{
            text-align: left;
            margin: 1em 0 0 0;
            width: 100%;
            font-size: 2vw;
            }
        }
    }
    
}