@import "../../../assets/partials/colors";

.navMain{
    position: sticky;
    top: -0.1em;
    z-index: 1;
    overflow: hidden;
    background-color: $blue;
    ul{
        display: flex;
        justify-content: flex-end;
        list-style: none;
        li{
            color: $white;
            font-size: 1.2em;
            a{
                color: $white;
                text-decoration: none;
                padding: 0.5em 1em; 
                display: inline-block;
                &:hover{
                  background-color: $light-blue;  
                }
            }
        }
    }
}